.reverse {
    h1 {
        transform: translateX(200%);
        transition: all 0.5s ease-in-out;
    }

    p {
        transform: translateX(200%);
        transition: all 0.9s ease-in-out;
    }

    img {
        transform: translateX(-200%);
        transition: all 0.7s ease-in-out;
    }
}

.column {
    h1 {
        transform: translateX(-200%);
        transition: all 0.5s ease-in-out;
    }

    p {
        transform: translateX(-200%);
        transition: all 0.9s ease-in-out;
    }

    img {
        transform: translateX(200%);
        transition: all 0.7s ease-in-out;
    }
}
.reverse.visible {
    h1 {
        transform: translateX(0);
    }

    p {
        transform: translateX(0);
    }

    img {
        transform: translateX(0);
    }

}

.column.visible {
    h1 {
        transform: translateX(0);
    }

    p {
        transform: translateX(0);
    }

    img {
        transform: translateX(0);
    }
}

.wait-list {
    .wait-list-truck {
        transform: translateX(-200%);
        transition: all 0.8s ease-in-out;
    }
    .wait-list-form {
        transform: translateX(200%);
        transition: all 0.5s ease-in-out;
    }
}

.wait-list.visible {
    .wait-list-truck {
        transform: translateX(0);
    }
    .wait-list-form {
        transform: translateX(0);
    }
}


.contact-left {
    .contact-form {
        transform: scale(0);
    }
}

.contact-right {
    .contact-information {
        transform: scale(0);
    }
}

.contact-left.visible {
    .contact-form {
        transform: scale(1);
    }
}

.contact-right.visible {
    .contact-information {
        transform: scale(1);
    }
}

.header-visible {
    top: 5%;
}