@import "_variables.scss";

header {
    background-color: #ffffff;
    height: 6vh;
    display: flex;
    position: fixed;
    top: 5%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 15px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;

        img {
            height: 4vh;
        }

        .header-logo-text1,
        .header-logo-text2 {
            font-size: 3.5vh;
            margin: 0;
            font-weight: 700;
            color: $primary-color;
        }
        .header-logo-text1 {
            font-weight: 900;
        }
    }

    .header-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        .header-button {
            border: none;
            color: rgb(112, 112, 112);
            cursor: pointer;
            background-color: white;
            font-weight: bold;
            margin-top: 0.35vh;
            margin-left: 1rem;
            font-size: 2vh;
            appearance: none;
            outline: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $primary-color;
            }
        }

        .header-button-start {
            background-color: $primary-color;
            color: #ffffff;
            padding: 0.9vh 1rem;
            border-radius: 10px;
            margin-left: 1rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-size: 2vh;
            white-space: nowrap;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .header-logo {
            margin-left: 0.4rem;

            img {
                height: 3.5vh;
            }

            .header-logo-text1,
            .header-logo-text2 {
                font-size: 2.5vh;
            }
        }

        .header-links {
            margin-right: 0.4rem;

            .header-button {
                margin-left: 0.2rem;
                font-size: 1.5vh;
           }

            .header-button-start {
                padding: 1vh 0.8rem;
                margin-left: 0.2rem;
                font-size: 1.5vh;
            }
        }
    }
}
