@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'header-styles.scss';

body {
    margin: 0;
    padding-bottom: 2000px;
    font-family: 'Roboto', sans-serif;
}

canvas {
    height: 100vh !important;
}