@import "_variables.scss";

.main-container {
    height: 100vh;
    background-image: url("/main_background_web.svg");
    background-size: cover;
    background-repeat: no-repeat;

    .phones-container {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70%;
        }
        #phone4 {
            z-index: 2;
            transition: all 0.5s ease-in-out;
        }
        #phone1 {
            transform: rotate(0deg) translateY(0%) translateX(100%);
            transition: all 0.5s ease-in-out;
        }
        #phone3 {
            transform: rotate(0deg) translateY(0%) translateX(-100%);
            transition: all 0.5s ease-in-out;
        }
    }

    @media screen and (max-width: 448px) {
        .phones-container {
            img {
                height: 50%;
            }
            #phone1 {
                transform: rotate(0deg) translateY(10%) translateX(-100%);
            }
            #phone3 {
                display: none;
            }
            #phone4 {
                transform: rotate(0deg) translateY(-100%) translateX(-100%);
            }
        }
    }
}
