.overview {
    background-color: white;
    background-image: url("/web-background.svg");
    background-size: cover;
    background-repeat: no-repeat;

    .reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        .overview-info {
            margin-left: 5%;
        }
    }

    .column {
        display: flex;
        justify-content: center;

        .overview-info {
            margin-right: 5%;
        }
    }

    .overview-section {
        height: 100vh;
        align-items: center;

        .overview-info {
            display: flex;
            flex-direction: column;
            width: 55%;

            h1 {
                font-size: 4rem;
                text-align: center;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            p {
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
                margin-bottom: 1rem;
                color: rgb(102, 102, 102);
            }
        }

        img {
            width: 29%;
        }
    }

    .overview-section-break {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 7rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-width: 1200px) {
        .reverse {
            .overview-info {
                margin-left: 0;
            }
        }

        .column {
            .overview-info {
                margin-right: 0;
            }
        }

        .overview-section {
            flex-direction: column-reverse;

            .overview-info {
                width: 95%;

                h1 {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }
            }

            img {
                width: 30%;
            }
        }
        .overview-section-break {
            h1 {
                font-size: 5rem;
            }
        }
    }

    @media screen and (max-width: 450px) {
        .overview-section-break {
            h1 {
                font-size: 4rem;
            }
        }
        .overview-section {
            .overview-info {
                h1 {
                    font-size: 2.5rem;
                }

                p {
                    margin-top: 5vh;
                    font-size: 1.5rem;
                }
            }
            img {
                width: 50%;
            }
        }
    }

    @media screen and (max-width: 700px) {
        background-image: url("/mobile-background.svg");
    }
}
